*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #133534;
    color: #fff;
}
#contenedor {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
header{
    height: 150px;
    background: #559E9E;
}
header h1{
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    color: black;
}
nav .menu {
    list-style: none;
    padding: 0;
    background: #3f7b83;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #B5E5E7;
}
#contenido{
    width: 700px;
    height: 500px;
    float: left;
    background: #4D9396;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#contenido p{
    font-size: 20px;
    height: 100px;
    padding: 10px;
}
aside{
    width: 250px;
    height: 500px;
    background: #18686c;
    margin-top: 10px;
    float: right;
}
aside img{
    font-size: 40px;
    text-align: center;
    height: 100px;
    margin-top: 150px;
    margin-left: 5px;
}
footer{
    background: #21434D;
    clear: both;
}
footer h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
article img{
    width: 150px;
    padding-top: 230px;
    padding-left: 50px;
}